<!DOCTYPE html>
<html>
<head>
  <title>A&J: 9.4.16</title>
  <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>



<style>
h1, h2, h3, h4, h5, h6, body {
	font-family: Lato
}

.nav-tabs {
	font-family: Lato;
	text-transform: uppercase;
}

footer {
	font-family: Lato;
	font-variant: small-caps;	
	text-align: center;
	color: #006699;
}

</style>


<div class="container">
	<ul class="nav nav-tabs">
		<li class="hidden-sm hidden-xs"> <%= link_to 'Home', root_path %></li> 
		<li> <%= link_to 'Schedule', schedules_path %></li> 
		<li> <%= link_to 'Travel', travels_path %></li> 
		<li> <%= link_to 'Lodging', lodgings_path %></li> 
		<li> <%= link_to 'Excursions', excursions_path %></li> 
		<li class="hidden-sm hidden-xs"> <%= link_to 'Registry', registries_path %></li> 
	</ul>

	<%= yield %>

</div>

</body>

<footer>
<hr>
@jieunbug productions
</footer>
<br>
</html>
