<!DOCTYPE html>
<html>
<head>
  <title>A&amp;J: 9.4.16</title>
  <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Tangerine' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>

<style>
	h1, h2, h3, h4, h5, h6, body {
		font-family: Lato
	}

	.navbar-brand {
		color: #2F4F4F;
		text-transform: uppercase;
	}

	.navbar-right {
		font-family: Lato;
		color: #2F4F4F;
	}

	#mobile-menu-link {
	
	}

	#mobile-logo {
		float: none;
	}

	a {
		color: inherit;
	}


	footer {
		font-family: Lato;
		text-align: right;
		color: #8b8b83;
	}

</style>

<body>

<%# mega-container for the whole page begins 
	<div class="container">
%>
	<%# navbar begins%>
	<nav class="navbar">

		<%# mobile menu link %>
		<div class="text-center">
			<a role="button" class="hidden-md hidden-lg" id="mobile-menu-link" data-toggle="collapse" data-target="#mobile-menu">
				MENU
			</a> 
		</div>

		<%# mobile menu %>
		<div class="collapse hidden-md hidden-lg" id="mobile-menu">
	    	<ul class="nav nav-stacked text-center">
		        <li> <%= link_to 'Home', root_path %><span class="sr-only">(current)</span></a></li>
		        <li role="separator" class="divider"></li>
				<li> <%= link_to 'Schedule', schedules_path %></li> 
		        <li role="separator" class="divider"></li>
				<li> <%= link_to 'Travel', travels_path %></li> 
		        <li role="separator" class="divider"></li>
				<li> <%= link_to 'Lodging', lodgings_path %></li> 
		        <li role="separator" class="divider"></li>
				<li> <%= link_to 'Excursions', excursions_path %></li> 
		       	<li role="separator" class="divider"></li>
				<li> <%= link_to 'Registry', registries_path %></li>
	    	</ul>
		</div> 

		<%# desktop menu %>
		<div class="hidden-xs hidden-sm" id="desktop-menu">
	    	<ul class="nav navbar-nav navbar-right">
		        <li> <%= link_to 'Home', root_path %><span class="sr-only">(current)</span></a></li>
		        <li role="separator" class="divider"></li>
				<li> <%= link_to 'Schedule', schedules_path %></li> 
		        <li role="separator" class="divider"></li>
				<li> <%= link_to 'Travel', travels_path %></li> 
		        <li role="separator" class="divider"></li>
				<li> <%= link_to 'Lodging', lodgings_path %></li> 
		        <li role="separator" class="divider"></li>
				<li> <%= link_to 'Excursions', excursions_path %></li> 
		       	<li role="separator" class="divider"></li>
				<li> <%= link_to 'Registry', registries_path %></li>
	    	</ul>
		</div> 

		<%# mobile logo %>
		<div class="text-center hidden-md hidden-lg">
		<h1 class="navbar-brand" href="/" id='mobile-logo'>
			Jesse &amp; Audrey<br>
			<small>09 &middot; 04 &middot; 2016</small>
		</h1>
		</div>

		<%# desktop logo %>
		<div class="text-center hidden-xs hidden-sm">
		<a class="navbar-brand" href="/" id='desktop-logo'>
			Jesse &amp; Audrey<br>
			<small>09 &middot; 04 &middot; 2016</small>
		</a>
		</div>

	<%# navbar ends%>
	</nav>


		<hr>
<%# page-specific content begins %>
			<%= yield %>
<%# page-specific content ends %>
		<hr>

		<footer>
			<small>&lt;3  @jieunbug</small>
		</footer>
		<br>

<%# mega-container for the whole page ends
	</div>
%>

</body>

</html>
