<!DOCTYPE html>
<html>
<head>
  <title>Wedding01</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= link_to 'Home', root_path %> | <%= link_to 'Schedule', schedules_path %> | <%= link_to 'Travel', travels_path %> | <%= link_to 'Lodging', lodgings_path %> | <%= link_to 'Excursions', excursions_path %> | <%= link_to 'Registry', registries_path %>


<%= yield %>

</body>
</html>
