<!DOCTYPE html>
<html>
<head>
  <title>Wedding01</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">
	<ul class="nav nav-tabs">
		<li> <%= link_to 'Home', root_path %></li> 
		<li> <%= link_to 'Schedule', schedules_path %></li> 
		<li> <%= link_to 'Travel', travels_path %></li> 
		<li> <%= link_to 'Lodging', lodgings_path %></li> 
		<li> <%= link_to 'Excursions', excursions_path %></li> 
		<li> <%= link_to 'Registry', registries_path %></li> 
	</ul>

	<%= yield %>

</div>

</body>
</html>
