<!DOCTYPE html>
<html>
<head>
  <title>A&J: 9.4.16</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>

</head>
<body>

<style>
.nav-tabs {
	font-family: Proxima Nova;
	text-transform: uppercase;
}

</style>


<div class="container">
	<ul class="nav nav-tabs">
		<li class="hidden-sm hidden-xs"> <%= link_to 'Home', root_path %></li> 
		<li> <%= link_to 'Schedule', schedules_path %></li> 
		<li> <%= link_to 'Travel', travels_path %></li> 
		<li> <%= link_to 'Lodging', lodgings_path %></li> 
		<li> <%= link_to 'Excursions', excursions_path %></li> 
		<li class="hidden-sm hidden-xs"> <%= link_to 'Registry', registries_path %></li> 
	</ul>

	<%= yield %>

</div>

</body>
</html>
